# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# For more info visit: https://help.github.com/articles/about-codeowners/

# Super Owners
*                   @AliaLayne
*                   @SotilraC
*                   @jcoughlin11
