html[data-theme="light"] {
    /* --pst-color-primary: rgb(11, 76, 99); */
    /* --pst-color-secondary: rgb(227, 46, 0); */
    /* --pst-color-inline-code: rgb(227, 46, 0); */
    --pst-color-primary: rgb(229, 84, 11);
    --pst-color-secondary: rgb(227, 46, 0);
    --pst-color-inline-code: rgb(227, 46, 0);
    --pst-color-link: rgb(0, 0, 255);
    --pst-color-link-hover: rbg(0, 255, 0);
/*     --pst-color-primary: #e5540b; */
    /* --pst-color-primary-bg: #f57534,  */
/**/
/*     --pst-color-secondary:  */
/*     --pst-color-secondary-bg:  */
/**/
/*     --pst-color-accent:  */
/*     --pst-color-accent-bg:  */
/**/
/*     --pst-color-warning:  */
/*     --pst-color-warning-bg:  */
/**/
/*     --pst-color-success:  */
/*     --pst-color-success-bg:  */
/**/
/*     --pst-color-info:  */
/*     --pst-color-info-bg:  */
/**/
/*     --pst-color-attention-bg:  */
/*     --pst-color-attention-bg:  */
/**/
/*     --pst-color-danger:  */
/*     --pst-color-danger-bg:  */
}

html[data-theme="dark"] {
    /* --pst-color-primary: rgb(11, 76, 99); */
    /* --pst-color-secondary: rgb(227, 46, 0); */
    /* --pst-color-inline-code: rgb(227, 46, 0); */
    --pst-color-primary: rgb(122, 136, 156);
    --pst-color-secondary: rgb(227, 46, 0);
    --pst-color-inline-code: rgb(227, 46, 0);
    --pst-color-link: rgb(255, 0, 0);
    --pst-color-link-hover: rbg(0, 255, 0);
/*     --pst-color-primary: #e5540b; */
    /* --pst-color-primary-bg: #f57534,  */
/**/
/*     --pst-color-secondary:  */
/*     --pst-color-secondary-bg:  */
/**/
/*     --pst-color-accent:  */
/*     --pst-color-accent-bg:  */
/**/
/*     --pst-color-warning:  */
/*     --pst-color-warning-bg:  */
/**/
/*     --pst-color-success:  */
/*     --pst-color-success-bg:  */
/**/
/*     --pst-color-info:  */
/*     --pst-color-info-bg:  */
/**/
/*     --pst-color-attention-bg:  */
/*     --pst-color-attention-bg:  */
/**/
/*     --pst-color-danger:  */
/*     --pst-color-danger-bg:  */
}
